html,
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: 'LidoSTF', serif;
}
#journal-items {
    font-size: 1.5em;
}
ul#journal-items {
    margin: 0;
    list-style: none;
    padding: 0;
}
#journal-items li {
    padding: 1em;
    background: rgba(200, 200, 200, 0.1);
    border-bottom: 1px solid lightgray;
}
#menu-container {
    padding: 1em 0 1em 1em;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 1px solid lightgray;
}
#menu-button {
    display: inline;
    float: right;
}
a#menu {
    color: gray;
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
}
a#menu:hover,
a#menu:active {
    color: black;
    border-color: black;
}