html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#scene {} #scene-image {
    text-align: center;
    float: left;
    z-index: 0;
    height: 15em;
    width: 15em;
    margin: 1em;
}
#scene-description {
    float: right;
    padding: 1em;
    padding-top: 3em;
    font-family: monospace, serif;
    font-size: 1.5em;
}
#scene-options {
    /*    text-align: center;*/
    padding: 1.5em;
}
span.option {
    display: inline-table;
    font-family: monospace;
    font-size: 2em;
    cursor: pointer;
    padding: .5em;
    margin: 0.4em;
    border: 2px dashed black;
}