html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#scene {} #scene-image {
    padding: 2em;
    height: 25em;
    width: 25em;
}
#scene-description {
    margin-top: 3em;
    position: absolute;
    font-family: monospace, serif;
    font-size: 2em;
    padding: .5em;
}
#scene-options {
    margin-top: 2em;
    text-align: center;
    padding: 2em;
}
span.option {
    font-family: monospace;
    font-size: 2em;
    cursor: pointer;
    padding: .3em;
    border: 1px solid black;
}