html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#scene {
    margin: 1em;
}
#scene-image {
    float: left;
    height: 15em;
    width: 15em;
    margin-bottom: 0;
}
#scene-description {
    padding-top: 1em;
    font-family: serif;
    font-size: 1.5em;
}
#scene-options {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1.5em;
}
#scene-textfield {
    display: none;
    text-align: center;
}
.textfield {
    width: 10em;
    display: inline;
    margin-left: 1.5em;
    color: lightgray;
    font-size: 1.5em;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: black;
}
.textfield:focus {
    outline: none;
    color: black;
}
span.option {
    color: gray;
    display: inline-table;
    font-family: serif, monospace, serif;
    font-size: 1.8em;
    padding: .5em;
    margin: 0.4em;
    border: 2px solid lightgray;
    transition: border .3s ease-in;
    -moz-transition: border .3s ease-in;
    -webkit-transition: border .3s ease-in;
    transition: color .3s none;
    -moz-transition: color .3s none;
    -webkit-transition: color .3s none;
}
span.option:hover,
span.option:active {
    color: black;
    cursor: pointer;
    border-color: black;
    border-style: solid;
}
#search-message {
    display: none;
    color: gray;
    font-size: 1.5em;
}